body{
    background-image: linear-gradient(to right, rgb(202, 218, 247), rgba(93, 162, 240, 0.582), rgb(147, 209, 245), rgb(129, 162, 223));
}

ul{
    justify-content:center;
    display: flex;
    list-style: none;
    margin-bottom: -20px;
}
p{
    margin-left: 33%;
    margin-top: -1px;
    margin-bottom: -2px;
}
h5{
    font-size: 20px;
    text-align: center;
    justify-content: center;
}
li{
    list-style: none;
}
.legenda{
    margin-top: 4px;
    margin-left: 33%;
}
h4{
    margin-left: 36%;
}
h3{
    font-size: 22px;
}
ol img{
    width: 30px;
    height: 30px;
    position: relative;
}
ol{
    position: fixed;
    background-image: linear-gradient(rgb(71, 98, 252), rgb(0, 153, 255), rgb(0, 204, 255));
    width: 172px;
    border-radius: 10px;
    left: 85%;
    top: 0;
}
ol li{
    font-size: 20px;
}
ol a{
    text-decoration: none;
    color: black;
}
div{
    width: 33%;
    height: 480px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
    margin: 0 auto 5px;
    border: 1px solid #ddd;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
section{
    width: 30px;
    height: 30;
    display: flex;
    margin-left: 33%;
}
section img{
    width: 30px;
    height: 30;
    position: relative;
    
}
.perfil{
    position: relative;
    width: 3%;
    height: 40px;
    border-radius: 50%;
}
#insta{
    position: absolute;
    width: 70px;
    height: 70px;
    top: 5%;
    border: none;
    left: 40%;
    border-radius: 0%;
}
h1{
    font-family: "Playwrite AU VIC", cursive;
    font-weight:bolder;
    font-size:40px;
    margin-top: 50px;
    margin-left: 820px;

}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transform: none;
    border-radius: 10px;
}
